<div class="bg-blue-500 rounded-lg p-8 m-8">

<a href="/viewquiz/{{id}}">
    <div class="card">
        <h3 class="quiz-header text-xl text-center font-extrabold">{{title}} </h3>
        <h4 class="text-center">Posted by {{user.username}}</h4>
        <div class="container">
            <p class="quiz-text">{{body}}</p>
        </div>
    </div>
</a>
</div>