<a href="/viewpost/{{id}}">
    <div class="card">
        <h3 class="post-header">{{title}} </h3>
        <h4>Posted by {{user.username}}</h4>
        <div class="container">
            <p class="post-text">{{body}}</p>
        </div>
    </div>
</a>