<a href="/viewquiz/{{id}}">
    <div class="card">
        <h3 class="quiz-header">{{title}} </h3>
        <h4>Posted by {{user.username}}</h4>
        <div class="container">
            <p class="quiz-text">{{body}}</p>
        </div>
    </div>
</a>