<div class="bg-gradient-to-r from-[#b2d1f7] via-[#66a5f2]/80 to-[#b2d1f7]  hover:bg-[#66a5f2] border-2 border-blue-500 rounded py-20 m-4 shadow-lg">

<a href="/viewquiz/{{id}}">
    <div class="card">
        <h3 class="quiz-header text-5xl text-center font-bold pb-3">{{title}} </h3>
        <h4 class="text-center text-xl">Posted by {{user.username}}</h4>
        <div class="container">
            <p class="quiz-text">{{body}}</p>
        </div>
    </div>
</a>
</div>