<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Quizinator</title>
</head>
<body>
    <header>
        <h1>Welcome to the tech blog</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a class="link" href="/dashboard">Dashboard</a>
        <button id='logout-btn' class='btn-no-style'>Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src='/js/logout.js'></script>
    {{/if}}
</body>
</html>