<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quizinator</title>
</head>


{{!-- Top NavBar --}}
<div>
    <nav
        class="sm:flex justify-between h-200 px-5 py-10 mx-0 bg-gradient-to-l from-sky-600 via-[#0287c9] to-sky-600 shadow-md ">
        {{!-- Page Title --}}
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold">Quizinator</h1>
        <div class="flex space-x-4">
            {{!-- Home button --}}
            <button>
                <a href="/" class="bg-transparent hover:bg-slate-100/50 text-md px-4 py-2 rounded-md">Home</a>
            </button>
            {{!-- If logged in show dashboard and logout buttons --}}
            {{#if loggedIn}}
            {{!-- Dashboard button --}}
            <button>
                <a href="/dashboard"
                    class="bg-transparent hover:bg-slate-100/50 text-md px-4 py-2 rounded-md">Dashboard</a>
            </button>
            <button>
                <a href="#" id='logout-btn'
                    class="bg-transparent hover:bg-slate-100/50 text-md px-4 py-2 rounded-md">Logout</a>
            </button>
            {{!-- If logged out show login button --}}
            {{else}}
            <button>
                <a href="/login" class="bg-transparent hover:bg-slate-100/50 text-md px-4 py-2 rounded-md">Login</a>
            </button>
            {{/if}}
        </div>
    </nav>
</div>

{{!-- Move side nav bar to top of screen on small displays --}}
<div class="bg-[#66a5f2]/80 md:hidden">
    <ul class="divide-y">
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/sci-fi">Sci-Fi</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded  hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/fantasy">Fantasy</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded  hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/animals">Animals</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/geography">Geography</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/history">History</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-sm px-6 py-1 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/other">Other</a>
        </li>
    </ul>
</div>




{{!-- Displayed Quizzes --}}
<div class="flex place-content-end">
    <main class="absolute w-full md:w-3/4 md:right-20">
        {{{body}}}
    </main>
</div>

{{!-- Side nav bar for quiz categories--}}
<div class="w-40 lg:w-60 h-full shadow-r-md bg-[#66a5f2]/80 px-1 absolute invisible md:visible">
    <ul class="relative pt-5 divide-y">
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/sci-fi">Sci-Fi</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded  hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/fantasy">Fantasy</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded  hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/animals">Animals</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/geography">Geography</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/history">History</a>
        </li>
        <li class="relative">
            <a class="flex items-center text-md p-6 h-10 rounded hover:bg-[#438ce6] transition duration-400 ease-in-out"
                href="/bycategory/other">Other</a>
        </li>
    </ul>
</div>


{{!-- Script for logout function if user is logged in --}}

<body>
    {{#if loggedIn}}
    <script src='/js/logout.js'></script>
    {{/if}}
</body>

</html>