<h1 class="text-center text-5xl font-bold underline p-5 my-5">My Quizzes</h1>

<div class="flex justify-center">
    <button class="bg-rose-300 hover:bg-rose-400 px-3 py-1 rounded-md mb-2 border-2 border-rose-400 shadow" type="button" id="new-quiz-btn">
        <a class="text-center text-xl" href="/createquiz">New Quiz</a>
    </button>
</div>

{{#each quizzes as |quiz| }}
{{>quiz quiz}}
{{/each}}