<span class="self-center text-2xl font-semibold">High Scores</span>
<br>
<span class="self-center text-1xl font-semibold">{{highscores.0.quiz.title}}</span>
<br><br>

<hr>

{{#each highscores as |highscore|}}
    
    <p>Name: {{highscore.user.username}}</p>
    <p>Score: {{highscore.score}}/{{get_length highscore.quiz.questions}}</p>
    <hr>

{{/each}}