<div class="container grid-rows-2 bg-blue-100 rounded-lg mt-5">

  <div class="login-card container text-center py-10">
    <h2 class="text-3xl text-bold underline py-3">Login</h2>
    <form class="form login-form">
      <div class="">
        <label for="email-login">Email:</label>
        <input class="input rounded-md mb-2" type="text" id="email-login" />
      </div>
      <div class="justify-self-center">
        <label for="password-login">Password:</label>
        <input class="input rounded-md mb-2" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button id="login-btn" class="bg-slate-300 rounded-full p-3" type="submit">login</button>
      </div>
    </form>
  </div>


  <div class="login-card row-start-2 container text-center pb-10">
    <h2 class="text-3xl text-bold underline py-3">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="input rounded-md mb-2" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="input rounded-md mb-2" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="input rounded-md mb-2" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button id="signup-btn" class="bg-slate-300 rounded-full p-3" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script> 