
<div id="question-block">
<div class="single-question" id="single-question">Create questions

{{!-- Quiz title and category --}}
{{!-- <form id="new-question"> --}}


{{!-- <label for="quiz-id">Quiz ID:</label> --}}
<input class="form-input" type="hidden" id="quiz-id" value={{quiz_id}}></input>

<label for="question_content">Question:</label>
<input class="form-input" type="text" id="question-content"></input>

<label for="answer-a">Answer A:</label>
<input class="form-input" type="text" id="answer-a"></input>

<label for="answer-b">Answer B:</label>
<input class="form-input" type="text" id="answer-b"></input>

<label for="answer-c">Answer C:</label>
<input class="form-input" type="text" id="answer-c"></input>

<label for="answer-d">Answer D:</label>
<input class="form-input" type="text" id="answer-d"></input>


<label for="answer_correct">Correct Answer:</label>
<input class="form-input" type="text" id="answer-correct"></input>




{{!-- </form> --}}
</div>
</div>
<button type="submit" id="submit-btn">Submit</button>
<button type="submit" id="add-question">+</button>


<script src="/js/question-create.js"></script> 