<div>Create quiz

<form id="new-quiz">
<label for="quiz-title">Quiz Title:</label>
<input class="form-input" type="text" id="quiz-title"></input>

<label for="quiz-category">Quiz Category:</label>
<input class="form-input" type="text" id="quiz-category"></input>
<button type="submit" id="submit-btn">Submit</button>
{{!-- <input type="hidden" id="user_id"></input> --}}


</form>


</div>

<script src="/js/quiz-create.js"></script> 