{{!-- Displayed when user is creating a new quiz --}}

<div
    class="container flex block justify-evenly bg-gradient-to-r from-[#b2d1f7] via-[#66a5f2]/60 to-[#b2d1f7]  border-2 border-blue-500 rounded py-20 m-4 shadow-lg">

    {{!-- Form to create a new quiz --}}
    <div class="w-full max-w-xs">
        <form class="px-8 pt-6 pb-8 mb-4" id="new-quiz">
            <h1 class="text-4xl text-center font-bold mb-6 underline">Create Quiz</h1>

            {{!-- Quiz title input --}}
            <div class="mb-4">
                <label class="text-center text-lg block font-semibold mb-2" for="quiz-title">Quiz Title</label>
                <input class=" rounded w-full" id="quiz-title" type="text">
            </div>

            {{!-- Quiz category selection --}}
            <div class="mb-6">
                <label class="text-center text-lg block font-semibold mb-2" for="quiz-category">Quiz Category</label>
                <select id="quiz-category" class="w-full text-lg rounded">
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Animals">Animals</option>
                    <option value="Geography">Geography</option>
                    <option value="History">History</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            {{!-- Submit quiz button --}}
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-600 ml-20 font-semibold py-2 px-4 rounded" type="button"
                    id="submit-btn">
                    Submit
                </button>
            </div>

        </form>
    </div>

</div>

<script src="/js/quiz-create.js"></script>