<div>Create quiz

<form id="new-quiz">
<label for="quiz-title">Quiz Title:</label>
<input class="form-input" type="text" id="quiz-title"></input>

<label for="quiz-category">Quiz Category:</label>
<input class="form-input" type="text" id="quiz-category"></input>


</form>


</div>

<script src="/js/quiz-create.js"></script> 