<div>Create quiz

{{!-- Quiz title and category --}}
<form id="new-quiz">
<label for="quiz-title">Quiz Title:</label>
<input class="form-input" type="text" id="quiz-title"></input>

<label for="quiz-category">Quiz Category:</label>
<input class="form-input" type="text" id="quiz-category"></input>
<button type="submit" id="submit-btn">Submit</button>


</form>


</div>

<script src="/js/quiz-create.js"></script> 