<div class="card single-quiz-padding">
    <h1 id="quiz-title" class="quiz-header">{{quiz.title}} </h1>
    <h4>Posted by {{quiz.user.username}}</h4>
    <div class="container">
        <p id="quiz-body" class="quiz-text quiz-text-padding">{{quiz.body}}</p>
    </div>
    {{!-- If this is my post i can edit and delete it --}}
    {{#if currentUser}}
    <button id="edit-btn">Edit</button>
    <button id="delete-btn">Delete</button>
    {{/if}}
</div>
{{!-- Handle the Questions --}}
{{#each quiz.questions as |question|}}
{{question.question_content}}
{{/each}}
{{!-- <link rel="stylesheet" href="/css/single-post.css"> --}}
{{!-- <script src="/js/single-quiz.js"></script> --}}
{{#if currentUser}}
{{!-- <script src="/js/edit-delete-post.js"> </script> --}}
{{/if}}